---
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'
import Sidebar from '@/components/sidebar/Sidebar.astro'
---

<Header />
<div class="flex bg-zinc-100">
  <Sidebar />
  <slot />
</div>
<Footer />
