---
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'
import Sidebar from '@/components/sidebar/Sidebar.astro'
import Toggle from '@/components/sidebar/Toggle.tsx'
---

<Header />
<input id="sidebar-toggle" type="checkbox" class="hidden" transition:persist />
<div id="scroll-content" class="overflow-auto">
  <div class="flex bg-zinc-100">
    <Sidebar />
    <Toggle transition:persist client:only="react" />
    <slot />
  </div>
  <Footer />
</div>

<style>
  #scroll-content {
    height: calc(100vh - var(--header-height));
    margin-top: var(--header-height);
  }
</style>
