---
import { getCountId } from '@/utils/collapsibleCountStore';
const count = getCountId();
---

<div class="collapsible">
  <input type="checkbox" id={count} class="collapsible-checkbox hidden" />
  <label for={count}>
    <div>
      <span>&gt;</span>
      <slot name="label" />
    </div>
  </label>
  <div class="collapsible-content px-2">
    <slot />
  </div>
</div>

<style>
  .collapsible-content {
    display: none;
  }
  .collapsible-checkbox:checked + label + .collapsible-content {
    display: block;
  }
</style>
