---
import twitter from '@/content/images/twitter.svg'
import facebook from '@/content/images/facebook.svg'
import instagram from '@/content/images/instagram.svg'
import { Image } from 'astro:assets'
---

<footer class="bg-zinc-900 text-zinc-50 p-16 space-y-4">
  <div class="flex gap-x-4">
    <a href="https://arapiraca.ufal.br" class="flex items-center max-w-md">
      <img
        src="/cpt/images/brasao-branco.png"
        alt="Logo UFAL"
        class="mr-4 h-20"
      />
      <p class="text-2xl uppercase font-bold text-balance">
        universidade federal de alagoas
      </p>
    </a>
    <div class="flex gap-24">
      <div class="space-y-1">
        <p class="capitalize font-medium">endereço</p>
        <ul class="text-zinc-400 space-y-1 text-sm">
          <li>Av. Manoel Severino Barbosa</li>
          <li>Bom Sucesso</li>
          <li>Arapiraca - AL</li>
          <li>CEP: 57309-005</li>
        </ul>
      </div>
      <div class="space-y-1">
        <p class="capitalize font-medium">telefone</p>
        <p class="text-zinc-400 space-y-1 text-sm">(82) 3482-1800</p>
      </div>
    </div>
  </div>
  <div class="flex justify-end [&>*]:w-5 invert opacity-60 space-x-5">
    <a href="https://www.instagram.com/ufaloficial" target="_blank">
      <Image src={instagram} alt="instagram" />
    </a>
    <a href="https://www.facebook.com/ufaloficial" target="_blank">
      <Image src={facebook} alt="facebook" />
    </a>
    <a href="https://www.twitter.com/ufaloficial" target="_blank">
      <Image src={twitter} alt="twitter (x)" />
    </a>
  </div>
</footer>
