---
import twitter from 'public/emojis/social/twitter.svg'
import { Image } from 'astro:assets'
const links = [
  '/cpt/emojis/social/twitter.svg',
  '/cpt/emojis/social/instagram.svg',
  '/cpt/emojis/social/facebook.svg',
]
---

<footer class="bg-zinc-900 text-zinc-50 p-16">
  <div class="flex gap-x-4">
    <a href="https://arapiraca.ufal.br" class="flex items-center max-w-md">
      <img
        src="/cpt/images/brasao-branco.png"
        alt="Logo UFAL"
        class="mr-4 h-20"
      />
      <p class="text-2xl uppercase font-bold text-balance">
        universidade federal de alagoas
      </p>
    </a>
    <div class="flex gap-24">
      <div class="space-y-1">
        <p class="capitalize font-medium">endereço</p>
        <ul class="text-zinc-400 space-y-1 text-sm">
          <li>Av. Manoel Severino Barbosa</li>
          <li>Bom Sucesso</li>
          <li>Arapiraca - AL</li>
          <li>CEP: 57309-005</li>
        </ul>
      </div>
      <div class="space-y-1">
        <p class="capitalize font-medium">telefone</p>
        <p class="text-zinc-400 space-y-1 text-sm">(82) 3482-1800</p>
      </div>
    </div>
  </div>
  <!-- <ul class="mx-auto flex">
    <li class="mr-4">
      <a href=""
        ><img src="/cpt/emojis/social/facebook.svg" alt="" class="w-4 h-4" /></a
      >
    </li>
    <li class="mr-4">
      <a href=""
        ><img
          src="/cpt/emojis/social/instagram.svg"
          alt=""
          class="w-4 h-4"
        /></a
      >
    </li>
    <li>
      <a href="mr-4"
        ><a href=""
          ><img
            src="/cpt/emojis/social/twitter.svg"
            alt=""
            class="w-4 h-4"
          /></a
        ></a
      >
    </li>
  </ul> -->
</footer>

<style is:global>
  :root {
    --footer-height: 16rem;
  }
  footer {
    height: var(--footer-height);
  }
</style>
