---

---
<header class="bg-blue-600 text-white relative" style="font-size: 14px;">
  <div class="bg-cover bg-center flex items-center justify-center absolute inset-0" style="background-image: url('https://arapiraca.ufal.br/graduacao/ciencia-da-computacao/@@download-capa'); z-index: -1; height: 22rem;">
    <nav class="flex flex-col items-center justify-end h-full">
      <ul class="flex bg-blue-600">
        <a href=""><li class="p-4">Alunos</li></a>
        <a href=""><li class="p-4">Disciplinas</li></a>
        <a href=""><li class="p-4">Docentes</li></a>
        <a href=""><li class="p-4">Documentos</li></a>
        <a href=""><li class="p-4">Institucional</li></a>
        <a href=""><li class="p-4">Ofertas Acadêmicas</li></a>
        <a href=""><li class="p-4">Pesquisa e Inovação</li></a>
        <a href=""><li class="p-4">Extensão</li></a>
      </ul>
    </nav>
  </div>
  
  <div class="h-16 flex items-center justify-between" >
    <ul class="flex items-center">
      <li class="mr-3">Página Inicial</li>
      <li class="mr-3">Institucional</li>
      <li class="mr-3">Unidades de Ensino</li>
      <li class="mr-3">Graduação</li>
      <li class="mr-3">Pós-Graduação</li>
      <li class="mr-3">Pesquisa</li>
      <li>Extensão</li>
    </ul>
    <div class="flex justify-center">
      <form action="" class="w-full max-w-md rounded-full bg-gray-100 bg-opacity-50 relative">
        <input type="text" class="w-full p-2 pl-10 text-sm text-gray-700 bg-transparent border-none focus:outline-none placeholder-gray-700" placeholder="Buscar no Site">
        <span class="absolute inset-y-0 right-0 flex items-center pr-4">
          🕵️
        </span>
      </form>
    </div>
  </div>
</header>
