<header
  class="top-0 w-full fixed overflow-hidden
  flex items-center justify-center
  py-1 px-8 gap-8
  font-bold
  bg-zinc-900 text-zinc-50"
>
  <div class="flex items-center justify-center w-full gap-10">
    <a href="/cpt">
      <div class="flex justify-center items-center gap-2">
        <img
          src="/cpt/images/brasao-branco.png"
          alt="Logo da Universidade Federal de Alagoas - UFAL"
          width="16"
        />
        <p class="uppercase">Ufal</p>
      </div>
    </a>
    <p class="flex-1 text-blue-300 font-extrabold text-lg">
      Ciência da Computação
    </p>
    <nav class="flex flex-1 justify-end items-center gap-4 max-w-7xl h-full">
    </nav>
  </div>
</header>

<style is:global>
  :root {
    --header-height: 3.2rem;
  }
  #content {
    padding-top: var(--header-height);
  }
</style>

<style>
  header {
    height: var(--header-height);
  }
</style>
