<div class="bg-gray-700 text-gray-50">
<header class="flex justify-between items-center w-full mx-auto max-w-7xl px-24 py-6">
  <a href=""><p>UFAL</p></a>
  <ul class="flex gap-x-8">
    <li><a href="">a</a></li>
    <li><a href="">b</a></li>
    <li><a href="">c</a></li>
  </ul>
</header>
</div>