<div class="bg-gray-800 text-white text-sm py-2">
  <div class="flex justify-between max-w-6xl mx-auto">
    <div class="flex justify-center items-center">
      <img
        src="/cpt/images/brasao-branco.png"
        alt="Logo da UFAL"
        class="h-7 mx-auto"
      />
      <div class="uppercase font-bold ml-2">ufal</div>
    </div>
    <ul class="flex justify-center items-center space-x-4">
      <li>
        <img src="https://barra.ufal.br/7cb604252bf8546a5319.svg" alt="" />
        <span>VLibras</span>
      </li>
      <li>
        <img src="https://barra.ufal.br/7cb604252bf8546a5319.svg" alt="" />
        <p>Webmail</p>
      </li>
      <li>
        <img src="https://barra.ufal.br/3f9b3fc907846f81c6d1.svg" alt="" />
        <p>Perfil</p>
      </li>
      <li>
        <img src="https://barra.ufal.br/3ad74754585ec931253e.svg" alt="" />
        <p>Acesso Rápido</p>
      </li>
    </ul>
  </div>
</div>

<style>
  li {
    @apply flex space-x-1;
  }
</style>
