<main
  class="prose prose-zinc
  prose-h1:underline
  prose-h1:text-balance
  prose-img:max-w-96
  px-20 py-10 max-w-7xl
  bg-zinc-50"
>
  <slot />
</main>

<style>
  main {
    min-height: calc(100vh - var(--header-height));
  }
</style>
