<main
  id="content"
  class="prose prose-zinc
  prose-h1:text-balance
  py-10 flex-1 max-w-7xl
  px-20 max-lg:px-8
  max-md:mx-auto
  max-md:prose-sm
  prose-table:table-fixed
  prose-table:break-words
  prose-img:max-w-96 max-md:prose-img:max-w-64"
>
  <slot />
</main>

<style>
  main {
    min-height: calc(100vh - var(--header-height));
  }
</style>
