
<nav id="sidebar" class="px-1 fixed bg-slate-300 left-0 top-0 bottom-0 z-10 min-w-12" transition:persist>
  <input id="sidebar-toggle" type="checkbox" class="hidden" />
  <label for="sidebar-toggle" class="block text-left text-lg select-none cursor-pointer">&#8801;</label>
  <div id="sidebar-content" class="p-4 min-h-full w-44">
    <!-- TODO componente para entradas que colapsam -->
    <ul>
      <li><a>Item 1</a></li>
      <li><a>Item 2</a></li>
    </ul>
  </div>
</nav>
