<div class="bg-gray-800 text-white h-11" style="font-size: 14px;">
    <div class="flex justify-center mx-auto">
        <div class="flex justify-center items-center">
            <img src="/images/brasao-branco.png" alt="Logo UFAL" class="h-7 mx-auto"/>
            <div class="uppercase font-bold ml-2">universidade federal de alagoas</div>
        </div>
        <ul class="flex justify-center items-center">
            <li class="flex p-2">
                <img src="https://barra.ufal.br/7cb604252bf8546a5319.svg" alt="" class="mr-2">
                <p>VLibras</p>
            </li>
            <li class="flex p-2">
                <img src="https://barra.ufal.br/7cb604252bf8546a5319.svg" alt="" class="mr-2">
                <p>Webmail</p>
            </li>
            <li class="flex p-2">
                <img src="https://barra.ufal.br/3f9b3fc907846f81c6d1.svg" alt="" class="mr-2">
                <p>Perfil</p>
            </li>
            <li class="flex p-2">
                <img src="https://barra.ufal.br/3ad74754585ec931253e.svg" alt="" class="mr-2">
                <p>Acesso Rápido</p>
            </li>
        </ul>
    </div>
</div>