---
import Collapsible from './Collapsible.astro'
import { Icon } from 'astro-icon/components'
import { getSidebarLinkCountId } from '@/utils/sidebarCountStore'

interface Props {
  title: string
  value: Record<string, unknown> | string
  keys?: string[]
}
let { title, value, keys } = Astro.props

const isTree = typeof value === 'object'
keys ??= ['/cpt']
keys.push(title)
const link = keys.join('/')
const linkId = getSidebarLinkCountId()

title = title
  .replace(/-\d+$/, '')
  .replaceAll('-', ' ')
  .replaceAll('_', ' ')
  .replace(/\.\w{3}$/, '')
value = isTree ? value : {}
---

<Collapsible
  class:list={['max-w-full break-words capitalize my-1', isTree ? 'tree' : '']}
>
  <p slot="label" class="flex items-center py-2 pl-2 pr-1 hover:bg-blue-300">
    <span class="hover:text-blue-950">
      <a
        id={linkId}
        href={link + '#' + linkId}
        class="cursor-pointer target:font-black hover:underline"
      >
        {title}
      </a>
    </span>
    <span class="tree-icon hidden flex-1 justify-end text-2xl">
      <Icon
        name="ic:sharp-arrow-drop-down"
        class="transition-all cursor-pointer"
      />
    </span>
  </p>
  {
    Object.entries(value).map(([title, value]) => (
      <Astro.self {title} value={value as any} keys={[...keys]} />
    ))
  }
</Collapsible>

<style is:global>
  .tree > label .tree-icon {
    display: flex !important;
  }
  .tree > .collapsible-checkbox:checked ~ label .tree-icon {
    @apply -scale-y-100;
  }
  .tree > .collapsible-checkbox:checked ~ label > * > * {
    @apply bg-zinc-100;
  }
</style>
