---
import Collapsible from './Collapsible.astro'
interface Props {
  title: string
  value: Record<string, unknown> | string
}
const { title, value } = Astro.props
const isTree = typeof value === 'object'

const prettyTitle = title
  .replace(/-\d+$/, '')
  .replaceAll('-', ' ')
  .replaceAll('_', ' ')
  .replace(/\.\w{3}$/, '')
---

<Collapsible {isTree} class="max-w-full break-words capitalize my-1">
  <p slot="label" class="py-1 px-2 hover:bg-blue-500">{prettyTitle}</p>
  {
    isTree
      ? Object.entries(value).map(([title, value]) => (
          <Astro.self {title} value={value as any} />
        ))
      : undefined
  }
</Collapsible>
