---
import { getCountId } from '@/utils/sidebarCountStore'

interface Props {
  class?: string
}
let { class: className } = Astro.props

const count = getCountId()
---

<div class:list={['collapsible', className]}>
  <input type="checkbox" id={count} class="collapsible-checkbox hidden" />
  <label for={count}>
    <div>
      <slot name="label" />
    </div>
  </label>
  <div
    class="collapsible-content
      ml-2 pl-2
      border-l-[1px] border-zinc-100"
  >
    <slot />
  </div>
</div>

<style>
  .collapsible-content {
    display: none;
  }
  .collapsible-checkbox:checked + label + .collapsible-content {
    display: block;
  }
</style>
