---
import Sitemap from './Sitemap.tsx'
---

<input id="sidebar-toggle" type="checkbox" class="hidden" transition:persist />

<nav
  id="sidebar"
  class="fixed bg-zinc-300 border-r-2 border-zinc-900 left-0 bottom-0 z-10"
  transition:persist
>
  <label
    for="sidebar-toggle"
    class="block text-left text-lg select-none cursor-pointer">&#8801;</label
  >
  <div id="sidebar-content" class="p-4 min-h-full w-44">
    <Sitemap />
  </div>
</nav>

<style is:global>
  :root {
    --collapsed-width: 3rem;
    --expanded-width: 10rem;
    --sidebar-width: var(--expanded-width);
  }

  #sidebar {
    top: var(--header-height);
    min-width: var(--collapsed-width);
  }

  #content {
    margin-left: var(--sidebar-width);
  }
  #sidebar-content {
    width: var(--sidebar-width);
    display: block;
  }
  #sidebar-toggle:checked + #sidebar > #sidebar-content {
    display: none;
  }

  #sidebar-toggle:checked ~ #content {
    --sidebar-width: var(--collapsed-width);
  }
</style>
