---
import sitemap from '../../../public/sitemap.json'
import CollapsibleTree from './CollapsibleTree.astro'
---

<div class="select-none overflow-y-auto max-h-96 z-50">
  {
    Object.entries(sitemap).map(([title, value]) => (
      <CollapsibleTree {title} {value} />
    ))
  }
</div>
