---
import Collapsible from './Collapsible.astro'
interface Props {
  title: string
  value: Record<string, unknown> | string
}
const { title, value } = Astro.props
const isTree = typeof value === 'object'
---

<Collapsible>
  <span slot="label">{title}</span>
  {
    isTree
      ? Object.entries(value).map(([key, child]) => (
          <Astro.self title={key} value={child as any} />
        ))
      : undefined
  }
</Collapsible>
