---
import Layout from './Layout.astro'
import Main from '@/components/Main.astro'

const { frontmatter } = Astro.props
---

<Layout title={frontmatter.title}>
  <Main>
    <slot />
  </Main>
</Layout>
